OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
OPENAI_API_ENDPOINT=<OPENAI_API_ENPOINT_URL>
GRADIO_DEFAULT_CONCURRENCY_LIMIT=5 # Number of Parallel Request handled by Gradio
GOOGLE_API_KEY=<Your Google AI API KEY>